.full{
    height: 100vh
}

body{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.flex-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}

.flex-todo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.bg-1{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(190, 189, 189, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 85px
}

.bg-2{
    background-color: rgba(190, 189, 189, 0.6);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 25px;
    border-radius: 30px
}

.bg-3{
    background-color: rgba(190, 189, 189, 0.6);
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 400px;
    height: 85px
}

.bg-4{
    background-color: rgba(190, 189, 189, 0.6);
    padding: 20px;
    border-radius: 30px;
    width: 175px;
    min-height: 100px
}

.white-text{
    color: rgb(255, 255, 255)
}

.footer{
    height:25vh
}

form{
    width: 175px
}

.row-todo{
    height: 55vh
}

.hidden{
    opacity: 0;
    transition: all .3s linear;
    cursor: default
}

.hidden:hover{
    opacity: 1;
    transition: all .3s linear
}

.cursor{
    cursor: default
}